# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Virtual environments
venv/
.venv/
env/

# Environment / secrets
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log

# Raw datasets
data/raw/

# Large trained model
models/regression/rating_model.pkl